@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #1E3A8A;
  --color-secondary: #3B82F6;
  --color-accent: #F59E0B;
  --color-background: #F3F4F6;
  --color-text: #111827;
}

